.info {
  padding: var(--margin);
  align-items: center;
  justify-items: center;
  z-index: 3;
}

.info > *:nth-child(3) {
  grid-column: 1/-1;
}

#date {
  font-size: 4.4rem;
}

#hour {
  font-size: 10rem;
  line-height: 0.8;
}

#greeting {
  font-size: 3.5rem;
  line-height: 0.9;
}

@media (orientation: landscape) {
  .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3fr 2fr;
  }
}

@media (orientation: portrait) {
  .info {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
  }
}