#links {
  height: 50vh;
  width: 80vw;
  grid-template-columns: 1fr 1fr;
  align-self: center;
}

#boxes {
  grid-template-columns: repeat(3, 1fr);
}

.list {
  font-size: 1.5rem;
}

.listTitle {
  font-size: 1.75rem;
}

#page {
  --margin: 2rem;
}

#boxImg {
  width: 100px;
  height: 100px;
}
