#links {
  width: 100%;
  display: grid;
  padding: var(--margin);
  gap: var(--margin);
  z-index: 1;
}

#boxes {
  display: grid;
  height: 100%;
  width: 100%;
  gap: var(--margin);
}

.box {
  height: 100%;
  max-width: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.5);
  aspect-ratio: 1/1;
}

.box:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.5);
}

.boxImg {
  max-height: 70%;
  max-width: 70%;
  padding: 15%;
  border: 4px solid;
  border-radius: 0.75rem;
}

#columns {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--margin);
}

.listBox {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  border-radius: 12px;
  box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.5);
}

.listBox:hover {
  transform: translateY(-10px);
  box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.5);
}

.list {
  list-style-type: none;
  font-size: 2rem;
  font-style: normal;
  color: black;
  padding-right: 2rem;
  padding-left: 2rem;
}

li:not(:last-child) {
  margin-bottom: 1rem;
}

.listTitle {
  padding: 2rem 2rem 0rem 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: black;
}

.listItem:hover {
  cursor: pointer;
}
