#page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  transition: color 0.5s;
  transition: background-color 0.5s 1s;

  --new-margin: 100px;
  --hour-font: clamp(24px, 10em, 17vh);
  --date-font: clamp(24px, 4.4em, 10vh);
  --greeting-font: clamp(24px, 3.5em, 7vh);
  --text-font: clamp(18px, 1.25em, 5vh);
}

.dark {
  background-color: var(--dark);
  color: var(--light);
}

.light {
  color: var(--dark);
  background-color: var(--light);
}

#mode {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  margin: 10px;
  z-index: 1;
}

#circle {
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 100%;
  z-index: 0;
}

.animate {
  animation: 2s growing;
}

@keyframes growing {
  0% {
    height: 0px;
  }

  100% {
    height: max(200vh, 200vw);
  }
}
