@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap");
@import "css/window.css";
@import "css/date.css";
@import "css/pages.css";

:root {
  --dark: #28292e;
  --light: #f7f7ff;
  --gray: #535456;
  /* --gray: #8F9296; */
  --red: #f54632;
  --dark-red: #ad1402;
  --blue: #19a3ff;
  --dark-blue: #1969ff;
  --yellow: #fcf300;
  --dark-yellow: #c4bd00;
  --violet: #8c37ec;
  --dark-violet: #6614c5;
  --green: #3fff00;
  --dark-green: #31b804;
  --pink: #e100ff;
  --dark-pink: #a700bd;
  --ocean: #00e2c4;
  --dark-ocean: #00a18c;
  --orange: #ffbb00;
  --dark-orange: #cf9800;

  font-family: "Kanit", sans-serif;
  font-style: italic;
  font-weight: 400;
}

body {
  margin: 0;
  display: inline-block;
  overflow: hidden;
}

a {
  color: black;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}
